<div class="modal-content">
  <div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">Static modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="hideModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is static modal, backdrop click will not close it. Click
    <b>&times;</b> to close modal.
  </div>
</div>
