<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title pull-left">{{
      contactToEdit ? 'Update Contact' : 'Add Contact'
    }}</h2>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="hideModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="contact-form" [formGroup]="contactForm">
      <div class="form-control">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" />
      </div>

      <div class="form-control">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" />
      </div>

      <div class="form-control">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" formControlName="phoneNumber" />
      </div>

      <div class="form-control">
        <label for="email">Email Address: </label>
        <input type="text" formControlName="email" />
      </div>

      <div class="button-container">
        <button type="submit" (click)="onSubmitForm()">Submit</button>
      </div>
    </form>
  </div>
</div>
