@import '../assets/variables';
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 80px;
  background: $primary-color;
  color: white;

  h1 {
    font-family: Avengers;
    font-size: 2.5rem;

    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 1.5rem;
    }
  }

  .header-icon {
    cursor: pointer;
    margin: 0 15px;
  }
}

.content-container {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  width: 80%;

  @media screen and (max-width: 920px) {
    flex-direction: column;
  }

  .contacts-list {
    flex: 4;
  }
  .selected-contact {
    flex: 6;
  }
}
