header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: darkred;
  color: white;

  h1 {
    font-family: Avengers;
    font-size: 2.5rem;

    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 1.5rem;
    }
  }
}

.content-container {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  width: 80%;

  .contacts-list {
    flex: 4;
  }
  .selected-contact {
    flex: 6;
  }
}
