.search-bar {
  display: flex;
  padding: 0 30px;
  justify-content: center;

  input[type='text'] {
    width: 80%;
    border: none;
    height: 50px;
    border-bottom: 1px solid darkred;

    &::placeholder {
      color: darkred;
    }

    &:focus {
      outline: none;
    }
  }
}
